
<style>
    .govuk-footer {
        border-top: #11A19A 10px solid;
        color: #485156;
    }

    .govuk-template--rebranded .govuk-footer {
        background: #F3F2F1;
    }
</style>

<footer class="govuk-footer">
  <div class="govuk-width-container">

    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">

        <span class="govuk-footer__licence-description">
          © 2026 Planning Inspectorate. All rights reserved.
        </span>
      </div>
    </div>
  </div>
</footer>